.navegador2{
    display:Flex;
    flex-direction: column;
    align-items: flex-end;
    position:fixed;
    width: 99%;
    margin-top: 8%;
    z-index: 0;
}

article h2{
    margin: 20px auto;
    width: 93%;
    height: 90vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: rgb(253, 108, 55) 1px;
    text-align: center;
    line-height: 100px;

    &:hover{
    color:rgb(253, 108, 55);
    text-shadow: 3px 5px 5px rgb(255, 255, 255);
}

}

.quienessomos h2{
    margin-top: 20px;
    background-image: url("../../imagenes/CrossFit2.jpg");
    @include foto(cover, center center, fixed);
}

.queescrossfit h2{
    background-image: url("../../imagenes/queescrossfit2.png");
    @include foto(cover, center center, fixed);
}

.coachs h2{
    background-image: url("../../imagenes/crossfit2.png");
    @include foto(cover, center center, fixed);
}

.programas h2{
    background-image: url("../../imagenes/programas2.png");
    @include foto(cover, center center, fixed);
}