@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgba(253, 249, 245, 0.904);
  overflow-x: hidden;
}

/* Nav-Bar */

/* ------ Pagina Registro ------*/

.Body_registro {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

/* buscar*/
h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}*/

.span_ingreso {
	font-size: 12px;
    margin: 15px;
}*/

.Ingresa{
    font-size: 1rem;
}

a {
	color: #333;
	font-size: 18px !important;
	text-decoration: none;
  margin: 15px 0;
}

a.active{
  border: 2px solid #333;
  border-radius: 10px;
}

button {
	border-radius: 20px;
	border: 2px solid #F2eee3;
	background-color: #F2eee3;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	border-color: rgb(255, 138, 28);
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: #ece3e3;
	border-color: rgb(255, 255, 255);
}


.Form_ingreso {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #f2eee3;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #F2eee3;
	background: -webkit-linear-gradient(to right, #ffb546, #ff9747);
	background: radial-gradient(circle, rgba(252, 129, 63, 0.842) 0%, 
                                        rgba(255,144,75,1) 25%, 
                                        rgba(255,169,49,1) 50%, 
                                        rgba(246,181,49,1) 75%, 
                                        rgba(254,224,49,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: black;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
    transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

:root{
    --facebook: #3b5999;
    --instagram: #dd2a7b;
    --youtube: #c4302b;
    --whatsapp: #25D366;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 2px solid rgb(255, 138, 28);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	background: #f2eee3;
}

.facebook:hover{
    background: var(--facebook)
}

.instagram:hover{
    background: var(--instagram)
}

.whatapp:hover{
    background: var(--whatsapp)
}

/* Fin de Pagina index.html*/

/* Inicio quienes somos*/

.contenedor_2 {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.5fr auto auto auto 1.5fr;
  gap: 30px 0px; 
  grid-template-areas: 
    "titulo__3"
    "seccion1"
    "seccion2"
    "seccion3"
    "seccion4";
}

.titulo__3 { 
  grid-area: titulo__3; 
  max-width: 70%;
  margin-top: 50px;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}

.seccion1 { 
  grid-area: seccion1;
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seccion2 {
  grid-area: seccion2; 
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seccion3 { 
  grid-area: seccion3; 
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seccion4 { 
  grid-area: seccion4; 
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo_5{
  font-size: 30px;
  text-align: center;
}

.Accesoprogramas{
  color:black;
  text-decoration: none;
}
/* Fin de quienes somos*/

/* inicio que es crossfit*/

.container2{
margin-inline: 10rem;
}

.accordion-header{
  font-size: 25px;
}

.accordion-button {
  font-size: inherit;
}

.accordion-item {
  border: 1px solid rgba(36,65 100, 0.15)
}

.accordion-button:not(.collapsed){
  color: inherit;
  background-color: #F09819;
  color:rgb(255, 255, 255)
}

.accordion-button:not(.collapsed)::after{
  filter: brightness(0%) invert(100%)
}

.accordion-button:focus{

background: linear-gradient(315deg, #ff9327, #dd7b20);
box-shadow:  -5px -5px 21px #b0631a,
            5px 5px 21px #ffaf2e;
}
/* Aqui Termina Que es Crossfit*/

/* Aqui comienza Coachs*/

.contenedor_4 {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
}
.coach{
  margin: 50px;
}

.quehace{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.placas{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.coach2{
  max-height: 70vh;
  max-width: 60vw;
  margin-bottom: 50px;
}


/* Aqui Termina Coachs*/

  /* Aqui comienza Programas*/

  .grid-layout{
    display:grid;
    grid-template-columns: 40% auto 40%;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "programas programas programas"
    "triskel60 . ."
    "triskel60 . master"
    "atleta . master"
    "atleta . .";
    gap: 0 0;
    width:90%;
    margin: 0 auto;
    padding: 20px;
  }

  .imagen{
    max-width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .titulo__4{
    max-height: 100px;
    margin: 10px;
    padding: 20px;
    font-size: auto;
  }

  .caja{
    max-width: 100%;
    margin: 0px 0 100px 0;
    text-align: center;
    line-height: 20px;
    border-radius: 30px;
  }

  .c1{
    grid-area: programas;
    max-height: 40%;
    
    }

  .c2{
    grid-area: triskel60;
    border: 1px solid rgba(0, 0, 0, 0.237);
    background-color: rgb(241, 239, 239);
    transition: box-shadow 0.25s ease-in;
    }

    .c2:hover{
    box-shadow: 
    rgba(252,129,63,1) -5px 5px, 
    rgba(255,144,75,1) -10px 10px, 
    rgba(255,169,49,1) -15px 15px, 
    rgba(246,181,49,1) -20px 20px, 
    rgba(254,224,49,1) -25px 25px;
    }

  .c3{
    grid-area: master;
    border: 1px solid rgba(0, 0, 0, 0.237);
    background-color: rgb(241, 239, 239);
    transition: box-shadow 0.25s ease-in;
    }

    .c3:hover{
      box-shadow: 
      rgba(252,129,63,1) -5px 5px, 
      rgba(255,144,75,1) -10px 10px, 
      rgba(255,169,49,1) -15px 15px, 
      rgba(246,181,49,1) -20px 20px, 
      rgba(254,224,49,1) -25px 25px;
      }

  .c4{
    grid-area: atleta;
    border: 1px solid rgba(0, 0, 0, 0.237);
    background-color: rgb(241, 239, 239);
    transition: box-shadow 0.25s ease-in;
  }

  .c4:hover{
    box-shadow: 
    rgba(252,129,63,1) -5px 5px, 
    rgba(255,144,75,1) -10px 10px, 
    rgba(255,169,49,1) -15px 15px, 
    rgba(246,181,49,1) -20px 20px, 
    rgba(254,224,49,1) -25px 25px;
    }


  .cajita{
    Margin:10px;
    padding: 10px;
  }

  @media (max-width: 780px){
.grid-layout{
  grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: 
    "programas"
    "triskel60"
    "master"
    "atleta";
    }
  }

/* --------------- Media querys Tablet --------------- */

  @media (max-width:811px){
    form{
      width: 90%;
    }
  
    .descrip{
      padding: 5px;
    }
  
    .form-contacto{
      width: 80vw;
  }
  
  .copy{
    font-size: 1rem;
  }
  
  ol, ul{
    padding-left: 0;
  }

  .container2{
    margin-inline: 10rem;
  }

  .mx-5{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .border-warning, .border-dark{
    max-width: 14rem !important;
    margin-inline: 1rem;
  }

  }


/* --------------- Media querys Mobil --------------- */

  @media (max-width:480px){

    header{
      height: 15vh;
    }

    .footer p {
      font-size: 12px;
    }

    .footer{
      font-size: 10px;
    }

    article h2{
      height: 40vh;
    }
  
    .quienessomos h2{
    background-size:100vh;
    }

    form{
      width: 90%;
    }
  
    .descrip{
      padding: 5px;
      text-align: left;
    }
  
    .form-contacto{
    width: 90vw;
  }

  ol, ul {
    padding-left: 0;
  }

  .container2{
    margin-inline: 0;
  }
  
  .placas {
    display: contents;
  }

  .contenedor_4{
    text-align: center;
  }

.coach2{
  max-width: 90vw;
}
}