*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgba(253, 249, 245, 0.904);
    overflow-x: hidden;
}