@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$FontOpen: 'Open Sans', sans-serif;

@mixin foto($bgsize, $bgposicion, $bgattach) {
    background-size: $bgsize;
    background-position: $bgposicion;
    background-attachment: $bgattach;
}


$redes:(
        facebook: #3b5999,
        instagram: #dd2a7b,
        youtube: #c4302b,
        whatsapp: #25D366 
    );

@mixin programas($borde, $backColor,$transicion) {
    Border: $borde;
    background-color: $backColor;
    transition: $transicion;
}


