@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(253, 249, 245, 0.904);
  overflow-x: hidden;
}

Header {
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.Body_registro {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

/* buscar*/
h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span_ingreso {
  font-size: 12px;
  margin: 15px;
}

.Ingresa {
  font-size: 1rem;
}

a {
  color: #333;
  font-size: 18px !important;
  text-decoration: none;
  margin: 15px 0;
}

a.active {
  border: 2px solid #333;
  border-radius: 10px;
}

button {
  border-radius: 20px;
  border: 2px solid #F2eee3;
  background-color: #F2eee3;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border-color: rgb(255, 138, 28);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: #ece3e3;
  border-color: rgb(255, 255, 255);
}

.Form_ingreso {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #f2eee3;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #F2eee3;
  background: -webkit-linear-gradient(to right, #ffb546, #ff9747);
  background: radial-gradient(circle, rgba(252, 129, 63, 0.842) 0%, rgb(255, 144, 75) 25%, rgb(255, 169, 49) 50%, rgb(246, 181, 49) 75%, rgb(254, 224, 49) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: black;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 2px solid rgb(255, 138, 28);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  background: #f2eee3;
}

.facebook:hover {
  background-color: #3b5999;
}

.instagram:hover {
  background-color: #dd2a7b;
}

.whatapp:hover {
  background-color: #25D366;
}

article h2 {
  margin: 20px auto;
  width: 80%;
  height: 70vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: rgb(255, 251, 251);
  text-align: center;
  line-height: 100px;
}
article h2:hover {
  color: rgb(253, 108, 55);
  text-shadow: 3px 5px 5px rgb(255, 255, 255);
}

.quienessomos h2 {
  margin-top: 20px;
  background-image: url("../../imagenes/Fondo.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.queescrossfit h2 {
  background-image: url("../../imagenes/queescrossfit2.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.coachs h2 {
  background-image: url("../../imagenes/crossfit2.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.programas h2 {
  background-image: url("../../imagenes/programas2.png");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

.form-contacto {
  font-family: "Open Sans bold", sans-serif;
  width: 65vw;
  margin: auto;
  background: rgba(233, 116, 7, 0.501);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 30px;
}
.form-contacto .titulo {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 40px;
}
.form-contacto .descrip {
  width: 90%;
  margin: 0px 30px;
  padding: 50px 150px;
  font-family: "Open Sans bold", sans-serif;
  display: flex;
  text-align: center;
  font-size: 15px;
}
.form-contacto .form-control2 {
  position: relative;
  margin: 20px 0 40px 40px;
  width: 260px;
}
.form-contacto .form-control2 input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: rgb(255, 247, 247);
}
.form-contacto .form-control2 input:focus, .form-contacto .form-control2 input :valid {
  outline: 0;
  border-bottom-color: rgb(34, 34, 34);
}
.form-contacto .form-control2 label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.form-contacto .form-control2 label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-contacto textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  width: 80%;
  margin: 0 20px 20px 40px;
  border-radius: 10px;
  padding: 7px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  resize: none;
}
.form-contacto .button2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.form-contacto .button2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.form-contacto .button2:active {
  transform: scale(0.95);
}
.form-contacto .form-control2 input:focus + label span,
.form-contacto .form-control2 input:valid + label span {
  color: rgb(34, 34, 34);
  transform: translateY(-30px);
}

footer {
  margin-top: 30px;
  display: flex;
  width: 100%;
  background-color: rgba(249, 128, 22, 0.701);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* no se bien donde colocarlo*/
}
footer p {
  font-size: 20px;
}
footer .redes_container {
  display: flex;
  width: 300px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
footer .redes_container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
footer .redes_container ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
footer .redes_container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}
footer .redes_container ul li .facebook:hover {
  background-color: #3b5999;
}
footer .redes_container ul li .instagram:hover {
  background-color: #dd2a7b;
}
footer .redes_container ul li .youtube:hover {
  background-color: #c4302b;
}
footer .redes_container ul li .whatsapp:hover {
  background-color: #25D366;
}
footer .redes_container ul:hover a {
  filter: blur(2px);
}

.contenedor_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto auto auto 1.5fr;
  gap: 30px 0px;
  grid-template-areas: "titulo__3" "seccion1" "seccion2" "seccion3" "seccion4";
}
.contenedor_2 .titulo__3 {
  grid-area: titulo__3;
  max-width: 70%;
  margin-top: 50px;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}
.contenedor_2 .seccion1 {
  grid-area: seccion1;
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor_2 .seccion2 {
  grid-area: seccion2;
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor_2 .seccion3 {
  grid-area: seccion3;
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor_2 .seccion3 .Accesoprogramas {
  color: black;
  text-decoration: none;
}
.contenedor_2 .seccion4 {
  grid-area: seccion4;
  max-width: 70%;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor_2 .seccion1 .titulo_5, .contenedor_2 .seccion2 .titulo_5, .contenedor_2 .seccion3 .titulo_5, .contenedor_2 .seccion4 .titulo_5 {
  font-size: 30px;
  text-align: center;
}
.contenedor_2 .seccion1 p, .contenedor_2 .seccion2 p, .contenedor_2 .seccion3 p, .contenedor_2 .seccion4 p {
  font-weight: 400;
}

.titulo__3 {
  max-width: 70%;
  margin-top: 50px;
  margin-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}

.container2 {
  margin-inline: 10rem;
}
.container2 .accordion-header {
  font-size: 25px;
}
.container2 .accordion-button {
  font-size: inherit;
}
.container2 .accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #F09819;
  color: rgb(255, 255, 255);
}
.container2 .accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}
.container2 .accordion-button:focus {
  background: linear-gradient(315deg, #ff9327, #dd7b20);
  box-shadow: -5px -5px 21px #b0631a, 5px 5px 21px #ffaf2e;
}
.container2 .accordion-item {
  border: 1px solid rgba(36, 64, 100, 0.15);
}

.contenedor_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor_4 .quehace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor_4 .quehace .coach {
  margin: 50px;
}
.contenedor_4 .quehace .placas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.contenedor_4 .quehace .coach2 {
  max-height: 70vh;
  max-width: 60vw;
  margin-bottom: 50px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "programas programas programas" "triskel60 . ." "triskel60 . master" "atleta . master" "atleta . .";
  gap: 0 0;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.grid-layout .caja {
  max-width: 100%;
  margin: 0px 0 100px 0;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
}
.grid-layout .c1 {
  grid-area: programas;
  max-height: 40%;
}
.grid-layout .c2 {
  grid-area: triskel60;
}
.grid-layout .c3 {
  grid-area: master;
}
.grid-layout .c4 {
  grid-area: atleta;
}
.grid-layout .c2, .grid-layout .c3, .grid-layout .c4 {
  border: 1px solid rgba(0, 0, 0, 0.237);
  background-color: rgb(241, 239, 239);
  transition: box-shadow 0.25s ease-in;
}
.grid-layout .c2:hover, .grid-layout .c3:hover, .grid-layout .c4:hover {
  box-shadow: rgb(252, 129, 63) -5px 5px, rgb(255, 144, 75) -10px 10px, rgb(255, 169, 49) -15px 15px, rgb(246, 181, 49) -20px 20px, rgb(254, 224, 49) -25px 25px;
}
.grid-layout .c2 .imagen, .grid-layout .c3 .imagen, .grid-layout .c4 .imagen {
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.grid-layout .c2 .titulo__4, .grid-layout .c3 .titulo__4, .grid-layout .c4 .titulo__4 {
  max-height: 100px;
  margin: 10px;
  padding: 20px;
  font-size: auto;
}
.grid-layout .c2 .cajita, .grid-layout .c3 .cajita, .grid-layout .c4 .cajita {
  Margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 811px) {
  header {
    height: 18vh;
  }
  form {
    width: 90%;
  }
  .descrip {
    padding: 5px;
  }
  .form-contacto {
    width: 80vw;
  }
  .form-contacto .descrip {
    padding: 5px;
  }
  .copy {
    font-size: 1rem;
  }
  ol, ul {
    padding-left: 0;
  }
  .container2 {
    margin-inline: 10rem;
  }
  .mx-5 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .border-warning, .border-dark {
    max-width: 14rem !important;
    margin-inline: 1rem;
  }
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: "programas" "triskel60" "master" "atleta";
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 15vh;
    margin-bottom: 50px;
  }
  .footer p {
    font-size: 12px;
  }
  .footer {
    font-size: 10px;
  }
  article h2 {
    height: 40vh;
  }
  .quienessomos h2 {
    background-size: 100vh;
  }
  form {
    width: 90%;
  }
  .descrip {
    width: 100%;
    margin: 0px 10px 0 0px;
    padding: 5px;
    text-align: left;
  }
  .form-contacto {
    width: 90vw;
  }
  ol, ul {
    padding-left: 0;
  }
  .container2 {
    margin-inline: 0;
  }
  .placas {
    display: contents;
  }
  .contenedor_4 {
    text-align: center;
  }
  .coach2 {
    max-width: 90vw;
  }
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: "programas" "triskel60" "master" "atleta";
  }
}/*# sourceMappingURL=estilo.css.map */